*.ppm
*.obj
*.mtl
obj-loader-test
examples/glass-earth.cpp
examples/the-one-with-the-cat.cpp
a.out
example0
ggr
*.swp
vs-project/.vs
vs-project/ggr.vcxproj.user
vs-project/x64
vs-project/enc_temp_folder
*.exe

